@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
}

.error {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(182, 150, 150);
}
.nav > img {
  margin-left: 10px;
  width: 60px;
}

.nav > ul {
  display: flex;

  list-style-type: none;
}
.nav > ul > li {
  padding: 10px;
}
.CardItem {
  margin-top: 5px;
  margin-left: 5vh;

  display: flex;

  flex-wrap: wrap;
  gap: 10px;
}
.card {
  width: 200px;
  padding: 10px;
  border: 1px solid teal;
}
.card > img {
  width: 100%;
}
.shimmer {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  margin: 20px;
}
.cuisines {
  font-size: small;
}
.cardMenu {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
}
.cardDetail {
  width: 50%;
} */
